<!-- bar -->
<template>
  <div>
    <div class="com-chart" ref="trendRef"></div>
  </div>
</template>

<script lang="ts" setup>
import * as echarts from "echarts"; //echarts 5
import itc from "@/config/theme/itc.js";
import dataTool from "./data.js";
import { ref, reactive, toRefs, onBeforeUnmount, onMounted } from "vue";
dataTool();
let trendRef = ref(); //ref创建虚拟dom，使用时用trendRef.value
let startValue = 0;
let endValue = 2;
let xDataArr = ["cc", "yy", "ll", "nn", "bc", "nh"];
let yDataArr = [89, 34, 23, 45, 75, 67];
let yDataArrDemical = [89, 94, 93, 75, 95, 77];
let yDataEnlish = [99, 94, 93, 85, 95, 97];
let timeId = null;
let chartInstance = null;
let barWidth = 0;
const initChart = () => {
  echarts.registerTheme("itc", itc);
  if (!chartInstance) {
    chartInstance = echarts.init(trendRef.value, "itc");
  }
  // console.log(trendRef.value.offsetWidth);
  barWidth = (trendRef.value.offsetWidth / 100) * 3.6;
  // console.log(barWidth);

  //通用配置
  //title ,tooltip,toolbox,legend
  const commonOption = {
    title: {
      text: "我的成绩",
      textStyle: {
        color: "red",
        fontSize: barWidth
      },
      borderWidth: 5,
      borderColor: "pink",
      borderRadius: 5,
      left: 40
    },
    tooltip: {
      trigger: "item", //item移动到每个柱子显示提示框，axis在轴上就可以显示提示框
      triggerOn: "mousemove", //mousemove鼠标移入就显示,click
      // formatter:'{b} 的成绩是：{c}'
      formatter: function(params) {
        return (
          params.name + `的${params.seriesName}` + "成绩是：" + params.value
        );
      }
    },
    toolbox: {
      feature: {
        saveAsImage: {}, //导出图片
        dataView: {}, //数据视图
        restore: {}, //重置按钮
        dataZoom: {} //区域缩放
      }
    },
    legend: {
      show: true
    }
  };
  const initOption = {
    //横向柱状图，x轴为value,y轴为category
    xAxis: {
      type: "category",
      data: xDataArr
    },
    yAxis: {
      type: "value"
    },
    dataZoom: {
      show: false,
      //通过定时器，定时更新start,end的value
      startValue: startValue,
      endValue: endValue
    },
    series: [
      {
        name: "语文",
        type: "bar",
        barWidth: barWidth,
        markPoint: {
          //最大值，最小值
          data: [
            { type: "max", name: "最大值" },
            { type: "min", name: "最小值" }
          ]
        },
        markLine: {
          //平均值
          data: [
            {
              type: "average",
              name: "平均值"
            }
          ]
        },
        label: {
          //柱状图文本
          show: true,
          rotate: 60,
          position: "inside"
        },
        data: yDataArr, //y轴的数值
        itemStyle: {
          borderRadius: [barWidth / 2, barWidth / 2, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: "#0ba82c" },
            { offset: 1, color: "#4ff778" }
          ])
        }
      },
      {
        name: "数学",
        type: "bar",
        barWidth: barWidth,
        markPoint: {
          //最大值，最小值
          data: [
            { type: "max", name: "最大值" },
            { type: "min", name: "最小值" }
          ]
        },
        markLine: {
          //平均值
          data: [
            {
              type: "average",
              name: "平均值"
            }
          ]
        },
        label: {
          //柱状图文本
          show: true,
          rotate: 60,
          position: "inside"
        },
        data: yDataArrDemical, //y轴的数值
        itemStyle: {
          borderRadius: [barWidth / 2, barWidth / 2, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: "#2e72bf" },
            { offset: 1, color: "#23e5e5" }
          ])
        }
      },
      {
        name: "英语",
        type: "bar",
        barWidth: barWidth,
        markPoint: {
          //最大值，最小值
          data: [
            { type: "max", name: "最大值" },
            { type: "min", name: "最小值" }
          ]
        },
        markLine: {
          //平均值
          data: [
            {
              type: "average",
              name: "平均值"
            }
          ]
        },
        label: {
          //柱状图文本
          show: true,
          rotate: 60,
          position: "inside"
        },
        data: yDataEnlish, //y轴的数值
        itemStyle: {
          borderRadius: [barWidth / 2, barWidth / 2, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: "#5052ee" },
            { offset: 1, color: "#ab6ee5" }
          ])
        }
      }
    ]
  };
  chartInstance.setOption({ ...initOption, ...commonOption });
  chartInstance.on("mouseover", () => {
    clearInterval(timeId);
  });
  chartInstance.on("mouseout", () => {
    startInterval();
  });
};
onMounted(() => {
  initChart();
  startInterval();
});
onBeforeUnmount(() => {
  clearInterval(timeId);
});
const startInterval = () => {
  if (timeId) {
    clearInterval(timeId);
  }
  timeId = setInterval(() => {
    startValue++;
    endValue++;
    if (endValue > xDataArr.length - 1) {
      startValue = 0;
      endValue = 2;
    }
    initChart();
  }, 2000);
};
</script>
<style scoped>
.com-chart {
  width: 500px;
  height: 400px;
}
</style>
