<template>
    <div ref="negative_ref" class="negative-chart"></div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import * as echarts from 'echarts';
import { styledData,styleBorderRadius} from '@util/tools'
import { rawSeries } from '@/mockData/json'

const negative_ref = ref();
let chartInstance = null;
const labelRight = {
    position: 'right'
};
const negativeInit = () => {
    let data = [
        { value: -0.07, label: labelRight },
        { value: -0.09, label: labelRight },
        { value: 0.2,},
        { value: 0.44,},
        { value: -0.23, label: labelRight },
        { value: 0.08,},
        { value: -0.17, label: labelRight },
        { value: 0.47,},
        { value: -0.36, label: labelRight },
        { value: 0.18}
    ];
    let barWidth = (negative_ref.value.offsetWidth / 100) * 3.6;

    let option = {
        title: {
            text: 'Bar Chart with Negative Value'
        },
        
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            
            top: 80,
            bottom: 30
        },
        xAxis: {
            type: 'value',
            position: 'top',
            splitLine: {
                lineStyle: {
                    type: 'dashed'
                }
            }
        },
        yAxis: {
            type: 'category',
            axisLine: { show: false },
            axisLabel: { show: false },
            axisTick: { show: false },
            splitLine: { show: false },
            data: [
                'ten',
                'nine',
                'eight',
                'seven',
                'six',
                'five',
                'four',
                'three',
                'two',
                'one'
            ]
        },
        series: [
            {
                name: 'Cost',
                type: 'bar',
                stack: 'Total',
                backgroundColor:'rgba(0,0,0,0.5)',
                label: {
                    show: true,
                    formatter: '{b}'
                },
                itemStyle: {
                    // barBorderRadius: [barWidth / 2, barWidth / 2, 0, 0],
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        { offset: 0, color: "#0ba82c" },
                        { offset: 1, color: "#4ff778" }
                    ])
                },
                data: styleBorderRadius(rawSeries)[0].data
            },{
                name: 'Ust',
                type: 'bar',
                stack: 'Total',
                label: {
                    show: true,
                    formatter: '{b}'
                },
                itemStyle: {
                    // barBorderRadius: [barWidth / 2, barWidth / 2, 0, 0],
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        { offset: 0, color: "#23e5e5" },
                        { offset: 1, color: "#2e72bf" }
                    ])
                },
                data: styleBorderRadius(rawSeries)[1].data
            },
            {
                name: 'Lkst',
                type: 'bar',
                stack: 'Total',
                label: {
                    show: true,
                    formatter: '{b}'
                },
                itemStyle: {
                    // barBorderRadius: [barWidth / 2, barWidth / 2, 0, 0],
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        { offset: 0, color: "#23e5e5" },
                        { offset: 1, color: "#2e72bf" }
                    ])
                },
                data: styleBorderRadius(rawSeries)[2].data
            }
        ]
    };
    if (!chartInstance) {
        chartInstance = echarts.init(negative_ref.value);
    }

    option && chartInstance.setOption(option);

}

onMounted(() => {
    negativeInit();
})
</script>

<style>
.negative-chart {
    width: 500px;
    height: 400px;
}
</style>