<template>
  <div class="wrap-list" :style="{ background: `url(${bg}) no-repeat 100% 100%` }">
    <DynamicBarChart></DynamicBarChart>
    <NegativeBar></NegativeBar>
    <!-- <World></World> -->
    <div id="china" class="wrap-list-center">
    </div>
  </div>
</template>

<script lang="ts" setup>
import "./china";
import bg from "@/assets/image/big/s-bg.jpeg";
import { welcomeStore } from "@/stores/welcome";
import * as echarts from "echarts"; //echarts 5
import { onMounted } from "vue";
import DynamicBarChart from "../echarts/DynamicBarChart.vue";
import NegativeBar from "../echarts/NegativeBar.vue";
import World from "../world/Index.vue";
import maracrons from "@/config/theme/macarons.js";
import { data } from './area.js'

const xhr = new XMLHttpRequest();
xhr.open("GET", "account/activity/activity_list/");
xhr.send(null);
xhr.onreadystatechange = () => {
  if (xhr.readyState === 4 || xhr.status === 200) {
    // console.log(xhr.responseText);
  }
};

// const welcome = welcomeStore()
// await welcome.getList();
// console.log("welcome.list",welcome.list)

const scatterData = [
  {
    value: [117.283042, 31.86119]
  }
];
onMounted(() => {
  //注册主题
  echarts.registerTheme("itc", maracrons);
  let charts = echarts.init(document.querySelector("#china"), "maracrons");

  charts.setOption({
    //显示基本得中国地图，配置geo，map:china即可显示，如果需要关联数据，如空气质量数据，需要将数据赋值给series中得data
    geo: {
      map: "china",
      aspectScale: 0.8,
      layoutCenter: ["50%", "50%"],
      layoutSize: "120%",
      itemStyle: {
        areaColor: {
          type: "linear-gradient",
          x: 0,
          y: 1200,
          x2: 1000,
          y2: 0,
          colorStops: [
            {
              offset: 0,
              color: "#152E6E" // 0% 处的颜色
            },
            {
              offset: 1,
              color: "#0673AD" // 50% 处的颜色
            }
          ],
          global: true // 缺省为 false
        },
        shadowColor: "#0f5d9d",
        shadowOffsetX: 0,
        shadowOffsetY: 15,
        opacity: 0.5
        // emphasis: {
        //     areaColor: "#0f5d9d",
        // },
      },

      regions: [
        {
          name: "南海诸岛",
          itemStyle: {
            areaColor: "rgba(0, 10, 52, 1)",
            borderColor: "rgba(0, 10, 52, 1)",
            opacity: 0,
            label: {
              show: false,
              color: "#009cc9"
            }
          },
          label: {
            show: true,
            color: "#FFFFFF",
            fontSize: 12
          }
        }
      ]
    },
    series: [
      {
        //不同城市得空气质量，不同颜色标注
        //空气质量数据data赋值到series中得data,type:map，geoIndex：0，将空气质量数据和第0个geo配置关联在一起
        type: "map",
        selectedMode: "multiple",
        map: "china",
        aspectScale: 0.8,
        layoutCenter: ["50%", "50%"], //地图位置
        layoutSize: "120%",
        zoom: 1, //当前视角的缩放比例
        // roam: true, //是否开启平游或缩放
        scaleLimit: {
          //滚轮缩放的极限控制
          min: 1,
          max: 2
        },
        label: {
          show: true,
          color: "#FFFFFF",
          fontSize: 16
        },
        itemStyle: {
          // normal: {
          areaColor: "#0c3653",
          borderColor: "#1cccff",
          borderWidth: 1.8,
          // },
          // emphasis: {
          //     areaColor: "#56b1da",

          // },
          label: {
            show: false,
            color: "#fff"
          }
        },
        data: data
      },
      {
        //地图和散点图结合
        //data为散点图得数据，配置type:effectScatter,指明散点使用的坐标系统，geo的坐标系统coordinateSystem: "geo"
        name: "Top 1",
        type: "effectScatter",
        coordinateSystem: "geo",
        rippleEffect: {
          scale: 10
        },
        data: scatterData
        // zlevel: 1
      }
    ],
    visualMap: {
      min: 0,
      max: 300,
      inRange: {
        color: ["gray", "blue"] //控制颜色渐变得范围
      },
      calculable: true //出现滑块
    }
  });
});
</script>

<style lang="less" scoped>
.wrap-list {
  overflow: hidden auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:1fr minmax(300px,1fr);



  &-center {
    width: 600px;
    height:500px;
  }


}
</style>
