<template>
    <div class="aside-module">
        <router-link to="/user">Welcome</router-link>
        <router-link to="/house">VR看房</router-link>
        <router-link to="/world">地球</router-link>
        <router-link to="/user/activity">Activity</router-link>
         <router-link to="/user/chat">chatRoom</router-link>
    </div>
</template>
<script lang="ts" setup> 
    
</script>
<style lang="less">
    .aside-module{
        background:var(--color-background-mute);
        height:400px;
        margin-top:20px;
        a{
            display: flex;
            justify-content: center;
            line-height: 36px;
        }
    }
</style>