<template>
  <div class="container" ref="container"></div>
</template>
<script setup lang="ts">
import * as THREE from "three";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
import { ref, onMounted } from "vue";
const scene = new THREE.Scene();
const camera = new THREE.PerspectiveCamera(
  75,
  window.innerWidth / window.innerHeight,
  0.1,
  1000
);
camera.position.z = 5;

const renderer = new THREE.WebGLRenderer();
renderer.setSize(window.innerWidth, window.innerHeight);

const render = () => {
  renderer.render(scene, camera);
  requestAnimationFrame(render);
};
const geometry = new THREE.BoxGeometry(10, 10, 10);
// const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
// const cube = new THREE.Mesh(geometry, material);
// scene.add(cube);

let arr = ["1", "2", "3", "4", "5", "6"];
let boxMaterials = [];
arr.forEach((ele) => {
  //纹理添加
  let texture = new THREE.TextureLoader().load(`./imgs/B/${ele}.jpg`);
  //创建材质
  boxMaterials.push(new THREE.MeshBasicMaterial({ map: texture }));
});
// cube.material = boxMaterials;
const cube = new THREE.Mesh(geometry, boxMaterials);
cube.geometry.scale(1,1,-1);
scene.add(cube);


const container = ref(null);
onMounted(() => {
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;
  container.value.appendChild(renderer.domElement);
  render();
});
</script>
