<!-- chat room with websocket -->
<template>
  <div class="web-socket">
    <el-input v-model="message" placeholder="发送消息"></el-input>
    <el-button type="primary" @click="sendMessage()">发送</el-button>
    <div ref="contentEle" class="web-socket-content"></div>
    <div class="news" ref="news">
      <div
        v-for="(i, index) in newsData"
        :key="index"
        class="news-item"
        @mouseenter="handleHover(true)"
        @mouseleave="handleHover(false)"
      >
        <div>yolanda-----{{ i }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive, onUnmounted } from "vue";
const TYPE_ENTER = 0;
const TYPE_MSG = 1;
const TYPE_LEAVE = 2;
let contentEle = ref(null);
let scrollHandler = ref(null);
let newsData = reactive([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]);
onMounted(() => {
  // 当界面挂载出来后就会自动执行
  console.log(contentEle.value);

  scrollTop();
});
onUnmounted(() => {
  clearInterval(scrollHandler);
});
let message = ref("");
const socket = new WebSocket("ws://localhost:8080/");
socket.addEventListener("open", () => {
  console.log("连接成功");
});
const sendMessage = () => {
  socket.send(message.value);
  message.value = "";
};
socket.addEventListener("message", function (e) {
  console.log("接收到服务器的数据了", e);
  let data = JSON.parse(e.data);
  // 将接收到服务器的数据展示出来
  let dv = document.createElement("div");
  dv.innerHTML = data.msg + "----" + data.time + ";";
  contentEle.value.appendChild(dv);
  if (data.type === TYPE_ENTER) {
    dv.style.color = "green";
  } else if (data.type === TYPE_MSG) {
    dv.style.color = "blue";
  } else {
    dv.style.color = "red";
  }
});
// socket.send('hello')

const scrollTop = () => {
  let newsWrapper = document.getElementsByClassName("news");
  // console.log(newsWrapper);
  clearInterval(scrollHandler);
  scrollHandler = setInterval(() => {
    let first = newsData.shift();
    newsData.push(first);
    newsWrapper[0].scrollTop += 20;
    // console.log(newsData);
  }, 1000);
};
const handleHover = (enter) => {
  if (enter) {
    clearInterval(scrollHandler);
  } else {
    scrollTop();
  }
};
</script>
<style scoped lang="less">
.web-socket {
  &-content {
    width: 400px;
    height: 300px;
    border: 1px solid pink;
  }
}
.news {
  height: 200px;
  overflow: hidden;
  &-item {
    height: 20px;
    line-height: 20px;
  }
}
</style>
