<script setup>
import { dec2binary , debounce} from "@/utils/util/tools";
import { onMounted, reactive, ref } from "vue";
import { useActivityStore } from "@/stores/activity";
const activity = useActivityStore();
let scrollTop = 0;

const state = reactive({
  count: 0
});
const name = ref("zcc");
const aModule = ref(null);
const dobounce_ref = ref(null);
const status = ref({
  count: 1
});
console.log(dec2binary(100));
console.log(dec2binary(10));
console.log(dec2binary(1000));
const handleScroll = () => {
  aModule.value.addEventListener("mousewheel", () => {
   console.log("aModule scrollTop",aModule.value.scrollTop);
   console.log("aModule scrollHeight",aModule.value.scrollHeight);
   console.log("aModule clientHeight",aModule.value.clientHeight);
  });
};
onMounted(() => {
  activity.getActivitylist({ page: 1, page_size: 10 });
  debounce(handleScroll, 1000)

  // dobounce_ref.value.onkeydown = ()=>  debounce(function(e){
  //   console.log(e.keyCode)
  // })
});

</script>
<template>
  <div class="activity-module" ref="aModule">
    <div class="top">
      我创建的活动
    </div>
    <div class="activity-module-list flex-bet-center">
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :md="12" :lg="8" v-for=" (item,index) in activity.activities" :key="index">
          <el-card class="box-card" shadow="hover">
            <template #header>
              <div class="box-card-header flex-bet-center">
                <span class="box-card-title ecplise">{{item.title}}</span>
                <el-button class="button" type="text">{{item.activity_start_time}}</el-button>
              </div>
            </template>
            <div v-for="o in 4" :key="o" class="text item">{{ 'List item ' + o }}</div>
          </el-card>
        </el-col>
      </el-row>

    </div>
    <div>state: {{state.count}}</div>
    <div>name: {{name}}</div>
    <div>status: {{status}}</div>
    <input type="text" ref="dobounce_ref">
  </div>
</template>

<style lang="less" scoped>
.activity-module {
  height: 400px;
  overflow: hidden scroll;
  .top {
    background: var(--vt-c-divider-dark-2);
    margin-bottom: 20px;
  }
  .box-card {
    margin: 10px 0;
    &-title {
      max-height: var(--h-4);
    }
  }
}
</style>
