<template>
  <div class="login">
    <figure class="md:flex bg-gray-100 rounded-xl p-8 md:p-0">
      <img
        class="w-32 h-32 md:w-48 md:rounded-none rounded-full mx-auto"
        :src="profileImg"
        alt=""
        width="384"
        height="512"
      />
      <div class="pt-6 md:p-8 text-center space-y-4">
        <blockquote>
          <p class="text-lg font-semibold">
            “Tailwind CSS is the only framework that I've seen scale on large
            teams. It’s easy to customize, adapts to any design, and the build
            size is tiny.”
          </p>
        </blockquote>
        <figcaption class="font-medium">
          <div class="text-cyan-600">Sarah Dayan</div>
          <div class="text-gray-500">Staff Engineer, Algolia</div>
        </figcaption>
      </div>
    </figure>
    <el-card class="box-card">
      <el-form
        ref="form"
        :rules="rules"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="账号：" prop="user">
          <el-input v-model="formInline.user" placeholder="请输入账号" />
        </el-form-item>
        <el-form-item label="密码：" prop="password">
          <el-input
            v-model="formInline.password"
            type="password"
            placeholder="请输入密码"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from "vue";
import { useRouter } from "vue-router";
import type { FormItemRule, FormInstance } from "element-plus";
import { ElMessage } from "element-plus";

import { test } from "@util/test_lodash";
import { getStrNumFromArr, processArr, styleBorderRadius } from "@util/tools";

import { rawSeries } from "@/mockData/json";
import profileImg from '@/assets/image/big/profile.jpg'
const router = useRouter();

test();
let str = "adefrfdnnfhdueassjfkdiskcddfjds";
console.log("str", str);
console.log("str中单个字符出现的次数", getStrNumFromArr(str));
console.log(processArr(rawSeries));
type From = {
  user: string;
  password: string;
};
const formInline = reactive<From>({
  user: "",
  password: "",
});
const form = ref<FormInstance>();
type Rules = {
  [K in keyof From]: Array<FormItemRule>;
};
const rules = reactive<Rules>({
  user: [
    {
      required: true,
      message: "请输入账号",
      type: "string",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "请输入密码",
      type: "string",
      trigger: "blur",
    },
  ],
});
const onSubmit = () => {
  console.log("submit!", form.value);
  form.value.validate((validate) => {
    console.log(validate);
    if (validate) {
      router.push("/user");
      localStorage.setItem("token", "1");
    } else {
      ElMessage.error("请输入完整");
    }
  });
};
</script>

<style lang="less" scoped>
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
