<template>
  <div class="main" ref="container">
    <world ref="worldRef"></world>
    <div class="container">
      <div class="flex-l">
        <NegativeBar></NegativeBar>
      </div>
      <div>
        <el-button type="primary" @click="toggleName">Toggle Name</el-button>
      </div>
      <div class="flex-r">
        <DynamicBarChart></DynamicBarChart>
        <testPie></testPie>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import world from "./map.vue";
import testPie from "./testPie.vue";
import NegativeBar from "../echarts/NegativeBar.vue";
import DynamicBarChart from "../echarts/DynamicBarChart.vue";
const worldRef = ref(null);
const toggleName = () => {
  console.log(worldRef.value);
  worldRef.value.layers["Toggle Name"]();
};
</script>
<style lang="less">
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .flex-l {
    z-index: 2;
  }
  .flex-r {
    z-index: 2;
  }
}
</style>
