<template>
  <div class="map" ref="container"></div>
</template>
<script lang="ts" setup>
import * as THREE from "three";
import { OrbitControls } from "three/addons/controls/OrbitControls.js";
// import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
// import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
import { DRACOLoader } from "three/examples/jsm/loaders/DRACOLoader";
import {
  CSS2DRenderer,
  CSS2DObject,
} from "three/addons/renderers/CSS2DRenderer.js";
import { ref, onMounted, defineExpose } from "vue";
import earth00 from "@/assets/image/planets/earth_atmos_2048.jpg";
import earth01 from "@/assets/image/planets/earth_specular_2048.jpg";
import earth02 from "@/assets/image/planets/earth_normal_2048.jpg";
let world;
const container = ref(null);
const EARTH_RADIUS = 1;
const MOON_RADIUS = 0.27;
const textureLoader = new THREE.TextureLoader();
const layers = {
  "Toggle Name": function () {
    camera.layers.toggle(0);
  },
  "Toggle Mass": function () {
    camera.layers.toggle(1);
  },
  "Enable All": function () {
    camera.layers.enableAll();
  },

  "Disable All": function () {
    camera.layers.disableAll();
  },
};
defineExpose({
  layers,
});

const scene = new THREE.Scene();
const camera = new THREE.PerspectiveCamera(
  45,
  window.innerWidth / window.innerHeight,
  1,
  2000
);

camera.position.set(0, 80, 200);
// camera.up.set(0, 1, 0);
// camera.lookAt(scene.position);
// camera.layers.enableAll();
// camera.layers.toggle(1);
// const timer = Date.now() * 0.0001;

// camera.position.x = Math.cos(timer) * 800;
// camera.position.z = Math.sin(timer) * 800;

// const dirLight = new THREE.DirectionalLight(0xffffff);
// dirLight.position.set(0, 0, 1);
// dirLight.layers.enableAll();
// scene.add(dirLight);

const axesHelper = new THREE.AxesHelper(5);
axesHelper.layers.enableAll();
scene.add(axesHelper);
//添加地球模型，为模型添加label

const getGLB = () => {
  const loader = new GLTFLoader();
  loader.load("./model/factory_b.glb", (gltf) => {
    console.log(gltf);
    let item = gltf.scene;
    item.position.set(0, 0, 0);
    // item.rotateX(Math.PI / 20);
    item.rotateY(-Math.PI / 8);
    scene.add(item);
  });
  // const dracoLoader = new DRACOLoader();
  // dracoLoader.setDecoderPath("/examples/js/libs/draco/");
  // loader.setDRACOLoader(dracoLoader);
  // loader.load("./model/factory_b.glb", (gltf) => {
  //   console.log(gltf);
  //   gltf.scene.position.set(-100, -100, 0); //定位
  //   world = gltf.scene;
  //   scene.add(world);
  //   world.layers.enableAll();

  //   getEarthLabel();
  // });
  // const earthGeometry = new THREE.SphereGeometry(EARTH_RADIUS, 16, 16);
  // const earthMaterial = new THREE.MeshPhongMaterial({
  //   specular: 0x333333,
  //   shininess: 5,
  //   map: textureLoader.load(earth00),
  //   specularMap: textureLoader.load(earth01),
  //   normalMap: textureLoader.load(earth02),
  //   normalScale: new THREE.Vector2(0.85, 0.85),
  // });
  // world = new THREE.Mesh(earthGeometry, earthMaterial);
  // scene.add(world);
  // // setLight();
  // world.layers.enableAll();
  // getEarthLabel();
};

const getEarthLabel = () => {
  const earthDiv = document.createElement("div");
  earthDiv.className = "label";
  earthDiv.textContent = "Earth";
  earthDiv.style.marginTop = "-1em";
  const earthLabel = new CSS2DObject(earthDiv);
  earthLabel.position.set(0, EARTH_RADIUS, 0);
  world.add(earthLabel);
  earthLabel.layers.set(0);

  const earthMassDiv = document.createElement("div");
  earthMassDiv.className = "label";
  earthMassDiv.textContent = "5.97237e24 kg";
  earthMassDiv.style.marginTop = "-1em";
  const earthMassLabel = new CSS2DObject(earthMassDiv);
  earthMassLabel.position.set(0, -2 * EARTH_RADIUS, 0);
  world.add(earthMassLabel);
  earthMassLabel.layers.set(1);
};
const setLight = () => {
  const ambientLight = new THREE.AmbientLight(0x404040, 1.2);
  scene.add(ambientLight);
  // // 平行光
  const directionalLight = new THREE.DirectionalLight(0xffffff, 0.1);
  directionalLight.position.set(0, 5, 0);
  scene.add(directionalLight);

  // 聚光光源 - 照模型
  const spotLight = new THREE.SpotLight(0xffffff, 1);
  spotLight.position.set(1, 40, 4);
  spotLight.castShadow = true;
  scene.add(spotLight);
  // 聚光光源辅助线
  // const spotLightHelper = new THREE.SpotLightHelper(spotLight);
  // scene.add(spotLightHelper);

  // 点光源 - 照模型
  const test = new THREE.PointLight("#ffffff", 1.8, 10);
  test.position.set(1, 7, 7);
  scene.add(test);
  const testHelperMap = new THREE.PointLightHelper(test);
  scene.add(testHelperMap);

  // 点光源 - 蓝色照地球
  const pointLightMap = new THREE.PointLight("#ffffff", 1.4, 10);
  pointLightMap.position.set(0, 70, 3);
  scene.add(pointLightMap);
  const spotLightHelperMap = new THREE.PointLightHelper(pointLightMap);
  scene.add(spotLightHelperMap);
};
// const setLight = () => {
//   const light1 = new THREE.DirectionalLight(0xffffff, 1);
//   light1.position.set(0, 0, 10);
//   scene.add(light1);
//   const light2 = new THREE.DirectionalLight(0xffffff, 1);
//   light2.position.set(0, 0, -10);
//   scene.add(light2);
//   const light3 = new THREE.DirectionalLight(0xffffff, 1);
//   light3.position.set(10, 0, 0);
//   scene.add(light3);
//   const light4 = new THREE.DirectionalLight(0xffffff, 1);
//   light4.position.set(-10, 0, 0);
//   scene.add(light4);
//   const light5 = new THREE.DirectionalLight(0xffffff, 1);
//   light5.position.set(0, 10, 0);
//   scene.add(light5);
//   const light6 = new THREE.DirectionalLight(0xffffff, 1);
//   light6.position.set(5, 10, 0);
//   scene.add(light6);
// };

const renderer = new THREE.WebGLRenderer({
  alpha: true,
});
renderer.setSize(window.innerWidth, window.innerHeight);
renderer.domElement.id = "factory";
renderer.sortObjects = false;
// container.value.appendChild( renderer.domElement );

let labelRenderer = new CSS2DRenderer();
labelRenderer.setSize(window.innerWidth, window.innerHeight);
labelRenderer.domElement.style.position = "absolute";
labelRenderer.domElement.style.top = "0px";
// container.value.appendChild(labelRenderer.domElement);

const controls = new OrbitControls(camera, renderer.domElement);
controls.enableDamping = true;
controls.minDistance = 5;
controls.maxDistance = 150;

controls.minAzimuthAngle = -Math.PI / 2;
controls.maxAzimuthAngle = Math.PI / 2;

controls.minPolarAngle = 1;
controls.maxPolarAngle = Math.PI / 2 - 0.1;

controls.update();

const render = () => {
  requestAnimationFrame(render);
  controls.update();
  renderer.render(scene, camera);
};
const onWindowResize = () => {
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();

  renderer.setSize(window.innerWidth, window.innerHeight);
};

onMounted(() => {
  container.value.appendChild(renderer.domElement);
  // container.value.appendChild(labelRenderer.domElement);
  getGLB();
  render();
  setLight();
  window.addEventListener("resize", onWindowResize);
});
</script>
<style lang="less">
.map {
  z-index: 1;
  position: absolute;
  left: 20px;
  top: 20px;
  .label {
    color: #fff;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, 0.6);
  }
}
</style>
