<template>
  <div class="dv-active-ring-chart">
    <div class="active-ring-chart-container" ref="mainRef" />
  </div>
</template>

<script setup>
import * as echarts from "echarts";
import { ref, onMounted } from "vue";
const mainRef = ref(null);
let myChart = null;
let intervalHandler = null;
let index = 0;
let previous = 0;
let option = {
  tooltip: {
    trigger: "item",
  },
  legend: {
    top: "5%",
    left: "center",
  },
  series: [
    {
      name: "Access From",
      type: "pie",
      radius: ["20%", "60%"],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: "center",
      },
      emphasis: {
        label: {
          show: true,
          fontSize: 40,
          fontWeight: "bold",
        },
      },
      labelLine: {
        show: false,
      },
      data: [
        {
          value: 1048,
          name: "Search Engine",
        },
        { value: 735, name: "Direct" },
        { value: 580, name: "Email" },
        { value: 484, name: "Union Ads" },
        { value: 300, name: "Video Ads" },
      ],
    },
  ],
};
const selectedPie = () => {
  myChart.dispatchAction({
    type: "highlight",
    dataIndex: index,
  });
  myChart.on("mouseover", (e) => {
    clearInterval(intervalHandler);
    if (e.dataIndex !== index) {
      myChart.dispatchAction({
        type: "downplay",
        dataIndex: index,
      });
    }
  });
  myChart.on("mouseout", (e) => {
    myChart.dispatchAction({
      type: "highlight",
      dataIndex: index,
    });
    animationPie();
  });
};
const animationPie = () => {
  intervalHandler = setInterval(() => {
    previous = index;
    myChart.dispatchAction({
      type: "downplay",
      dataIndex: previous,
    });

    index = index + 1;
    myChart.dispatchAction({
      type: "highlight",
      dataIndex: index,
    });
    // console.log(index);
    if (index >= option.series[0].data.length) {
      index = 0;
      myChart.dispatchAction({
        type: "highlight",
        dataIndex: index,
      });
    }

    // selectedPie();
  }, 2000);
};
const selectedLegend = () => {
  myChart.on("legendselectchanged", function (params) {
    console.log(params)
    clearInterval(intervalHandler);
    // animationPie();
  });
  // myChart.on("mouseout", (e) => {
  //   myChart.dispatchAction({
  //     type: "legendselectchanged",
  //     dataIndex: index,
  //   });
  //   animationPie();
  // });
};
onMounted(() => {
  myChart = echarts.init(mainRef.value);
  // console.log(option);
  option && myChart.setOption(option);
  selectedPie();
  animationPie();
  // selectedLegend();
});
</script>

<style lang="less">
.dv-active-ring-chart {
  position: relative;

  .active-ring-chart-container {
    width: 300px;
    height: 300px;
  }

  .active-ring-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dv-digital-flop {
      width: 100px;
      height: 30px;
    }

    .active-ring-name {
      width: 100px;
      height: 30px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
</style>
